.header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 100;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 0.1px solid lightgray;
  padding: 0px 10px;
  width: 100%;
  background-color: white;
}

.header__left {
  display: flex;
}

.header__left > img {
  object-fit: contain;
  height: 34px;
}

.header__search {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eef3f8;
  height: 34px;
  border-radius: 5px;
  padding: 0 15px;
  margin-left: 10px;
}

.header__search > input {
  border: none;
  background-color: #eef3f8;
}

.header__search > input:focus {
  outline: none;
}

.header__right {
  display: flex;
}
